/* 포스터 */
.FirstText {
    width: 40vw;
    height: 10vh;
    margin: 0vw 5vw 0vw 5vw;
  
    border: 1px solid black;
    background-color: gray;
  }
  
  .SecondText {
    width: 40vw;
    height: 10vh;
    margin: 0vw 5vw 0vw 5vw;
  
    border: 1px solid black;
    background-color: gray;

  }
  /* .firstPostText {
    text-align: center;
  } */
  