/* 모달창 전체 */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 0px;
  width: 20vw;
  height: 100vw;
  background-color: white;
}

.back {
  background-color: black;
}

/* 모달창 이름 */
.modalTop {
  display: flex;
  height: 5vw;
  justify-content: space-between;
  background-color: black;
}

.modalexit {
  font-size: 20px;
  color: white;

  padding: 15px 5px 10px 5px;
}

.modalexit:hover {
  cursor: default;
}

/* 모달창 리스트 */

.area {
  font-size: 20px;
  padding: 10px;
}
