body {
  margin: 0%;
}

.box {
  background-color: rgb(250, 248, 248);
  margin: auto 0;
  padding-top: 20px;
  padding-left: 210px;
  padding-right: 210px;
  height: 100px;
  position: relative;
}
.box1 {
  float: right;
  display: inline;
}
.b1 {
  position: absolute;
  top: 70px;
  right: 880px;
}
.b2 {
  position: absolute;
  top: 70px;
  right: 800px;
}
.b3 {
  position: absolute;
  top: 70px;
  right: 710px;
}
.b4 {
  position: absolute;
  top: 70px;
  right: 560px;
}
.b5 {
  position: absolute;
  top: 70px;
  right: 340px;
}
.b6 {
  position: absolute;
  top: 70px;
  right: 0%;
  padding-right: 210px;
}
.topw {
  color: black;
  opacity: 0.8;
  display: inline;
}
.topw:hover {
  opacity: 1;
}
a {
  text-decoration: none;
  display: inline;
}
input {
  border-radius: 5px;
  border: 1px solid rgb(99, 184, 86);
  font-size: 12px;
  height: 30px;
  width: 175px;
}
input:focus {
  outline: none;
}
p {
  display: inline;
  font-size: 12px;
  opacity: 0.1;
  font-weight: 800;
}
.info {
  display: none; /* gpt */
  color: white;
  background-color: black;
}
.info:hover {
  background-color: black;
}

button:hover + .info {
  display: block; /* gpt */
}
button {
  border: none;
  background-color: rgb(250, 248, 248);
}
button:hover {
  color: rgb(16, 126, 51);
  background-color: black;
}
