* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(250, 245, 236);
}
.wrap {
  width: 1100px;
  height: 120px;
  position: relative;
  margin: 0 auto;
}
.logo {
  width: 100px;
  height: 120px;
  background-image: url(images/99857F4F5E738F472F.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}
.menu1 {
  display: flex;
  position: absolute;
  right: 0;
  top: 20px;
}
.menu1 > p {
  cursor: pointer;
  margin-left: 20px;
  font-size: 14px;
  color: rgb(92, 92, 92);
  margin-top: 10px;
}
.menu1 > p:hover {
  color: #000;
}
form .icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  background-image: url(images/71403.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-left: 20px;
}
.menu2 {
  display: flex;
  position: absolute;
  top: 70px;
  right: 0;
}
.menu2 > p {
  cursor: pointer;
  margin-left: 40px;
  font-size: 16px;
  color: rgb(20, 20, 20);
}

/* .menu3 {
  height: 300px;
  background: rgb(61, 53, 39);

  display: none;
} */

.lnb {
  display: flex;
  list-style: none;
}

.wrapper {
  height: 50px;
  background-color: aqua;
  list-style: none;
  color: rgb(1, 1, 1);
  
  margin-left: 10px;
 
}
.wrapper .content {
  display: none;
  background-color: blueviolet;
 position: fixed ;
 width: 100%;
 left: 0;
 height: 200px;
 top: 120px;
}
.wrapper:hover .content{
  display: block;
}

.lnb2 {
  height: 20px;
}

.lnb > li {
  color: white;
  margin-top: 20px;
  margin-left: 30px;
}

.lnb > ul {
  margin-top: 60px;
  margin-right: 100px;
  list-style: none;
}

.lnb p {
  font-size: 14px;
  color: rgb(150, 150, 150);
}

.menu2_1:hover {
  display: block;
  background-color: rgb(61, 53, 39);
  color: green;
  width: 80px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.menu2_2:hover {
  display: block;
  background-color: rgb(61, 53, 39);
  color: green;
  width: 70px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.menu2_3:hover {
  display: block;
  background-color: rgb(61, 53, 39);
  color: green;
  width: 70px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.menu2_4:hover {
  display: block;
  background-color: rgb(61, 53, 39);
  color: green;
  width: 130px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.menu2_5:hover {
  display: block;
  background-color: rgb(61, 53, 39);
  color: green;
  width: 200px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.menu2_6:hover {
  display: block;
  background-color: rgb(61, 53, 39);
  color: green;
  width: 130px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}

.menu2_1:hover + .wrapper {
  display: block;
}

.last {
  background-image: url(./images/njknk.jpg);
  height: 150px;
  display: none;
}
.last p {
  position: relative;
  top: 40px;
  left: 100px;
  font-size: 14px;
}
.last p:nth-child(2n + 1) {
  color: rgb(185, 184, 184);
}
.last p:nth-child(2n) {
  color: rgb(19, 141, 19);
}
