.section {
  height: 100vh;
  background-color: black;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  overflow: scroll;
}

.section::-webkit-scrollbar {
  display: none;
}
