/* 메인배경 */
.Main {
  width: 100vw;
  height: 100vh;
  background-color: #c91558;
}

/* 헤더 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  color: black;
}

/* 지역 이름 */
.mainName {
  font-size: 50px;
  color: black;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

/* 홈 버튼 */
.homeButton {
  color: black;
  font-size: 40px;
  padding: 20px 0px 20px 40px;
}

/* 지역 선택 버튼 */
.areaList {
  color: black;
  font-size: 30px;
  padding: 20px 40px 20px 0px;
}

.bg {
  width: 100vw;
  height: 100vh;
  color: rgba(0, 0, 0, 0.6);
}

/* 축제,특산품 포스터 선택 버튼 */
.changePoster {
  display: flex;
  justify-content: center;
}

.typeButton {
  font-size: 20px;
  text-align: center;
  padding: 40px 10px 0px 10px;
}

/* 지역 축제 설명 텍스트 */

.mainExplain {
  color: black;
  float: left;
  font-size: 30px;
  padding: 60px 60px 20px 60px;
  width: 20vw;
}

.subExplain {
  font-size: 15px;
  padding: 60px 60px 20px 60px;
  width: 20vw;
}

.linkButton {
  float: left;
  margin: 20px 60px 20px 60px;
  padding: 5px;

  text-align: center;
  background-color: gray;
  color: black;
  border-radius: 20px;

  width: 12vw;
}
.linkButton:link {
  text-decoration-line: none;
}

/* 축제 포스터 */

/* .postList {
  display: flex;
} */

.posts {
  position: absolute;
  width: 40vw;
  height: 60vh;
  padding: 50px;
}

.postOne {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  height: 60vw;
}
.postTwo {
  position: absolute;
  width: 40vw;
  height: 60vh;
  padding: 50px;
}
.postThree {
  position: absolute;
  width: 40vw;
  height: 60vh;
  padding: 50px;
}
