.Main {
  width: 100vw;
  height: 100vh;
  background-image: url("img/back.png");
  background-size: cover;
}

/* 지역 이름 */
.mainName {
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: white;
}

/* 홈 버튼 */
.homeButton {
  float: right;
  margin: 10px;
  color: white;
  font-size: 30px;
}
.postList {
  display: flex;
  width: 100vw;
  height: 100vw;
}
.postOne {
  position: relative;
}
.postTwo {
  position: relative;
}
/* 포스트 화살표 */
.postOne .left {
  position: absolute;
  top: 20vw;
  left: 5vw;
  color: white;
  font-size: 50px;
}

.postOne .right {
  position: absolute;
  top: 20vw;
  right: 5vw;
  color: white;
  font-size: 50px;
}

.postTwo .left {
  position: absolute;
  top: 20vw;
  left: 5vw;
  color: white;
  font-size: 50px;
}

.postTwo .right {
  position: absolute;
  top: 20vw;
  right: 5vw;
  color: white;
  font-size: 50px;
}

.right :hover {
  background-color: gray;
}
.left :hover {
  background-color: gray;
}
